# Dependencies
node_modules

# Build output
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json

# Env
.env
.env.local
.env.*.local

